main,
footer {
    background-color: blue;
    margin: 0 auto;
    max-width: 400px;
    padding: 5px;
}

.pictures {
    max-width: 300px;
    margin: 0 auto;
}

img[data-src] {
    filter: blur(0.2em);
}

img {
    filter: blur(0em);
    transition: filter 5s;
}