            body {
                margin: 0 auto;
            }
            
            header h1,
            footer {
                text-align: center;
                color: #4d4d96;
                padding: 3rem;
            }
            
            main {
                background-color: ghostwhite;
                text-align: center;
                padding: 1px;
            }
            
            .cards {
                display: grid;
                grid-template-columns: 300px;
                justify-content: center;
                grid-gap: 5px;
                padding: 2em 2em;
                background-color: lightslategray;
            }
            
            section {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #b9b9cc;
                border: 1px solid black;
            }
            
            section img {
                max-width: 250px;
                box-shadow: 0 0 10px;
                margin-bottom: 2rem;
            }
            
            h2 {
                margin-top: 1rem;
                margin-bottom: .2rem;
                color: #4d4d96;
            }
            
            p {
                margin-top: 1rem;
                margin-bottom: .2rem;
            }
            
            .cards {
                display: grid;
                grid-template-columns: repeat(auto-fit, 1fr);
            }
            
            @media only screen and (min-width: 37rem) {
                .cards {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }
            }
            
            @media only screen and (min-width: 55em) {
                .cards {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                }
            }