/* Desktop Views */

@media only screen and (min-width: 60em) {
    footer {
        width: 55rem;
    }
    nav {
        margin-left: 20%;
        margin-right: 20%;
    }
    nav ul {
        display: flex;
    }
    nav ul li a {
        padding: .6rem 1rem;
    }
    main {
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 20%;
        margin-right: 20%;
    }
    main div {
        grid-column: span 1;
    }
}