/* Desktop Views */

@media only screen and (min-width: 60em) {
    nav ul {
        display: flex;
    }
    nav ul li {
        display: inline-block;
    }
    nav ul li a {
        padding: .6rem 1rem;
    }
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    main div {
        grid-column: span 1;
    }
}