/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


/*----------- apply a natural box layout model to all elements --------------*/


/*
* {
    margin-left: 20%;
    margin-right: 20%;
}*/

body {
    text-align: center;
    font-size: 14px;
    background-color: lightblue;
    margin: 0.5rem;
    padding: 10px;
    flex: 0 1 100%;
}

footer {
    background-color: #f4e76e;
    padding: 5px;
    margin: auto;
    border-radius: 10px;
}

h1 {
    font-family: 'Bebas Neue', cursive;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
    border-radius: 10px;
}

nav {
    background-color: #f4e76e;
    font-family: cursive, sans-serif;
    text-align: center;
    border-radius: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

nav ul li a {
    display: block;
    padding: 2px;
    margin: 2px;
    border-radius: 2px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul.hide {
    display: none;
}


/*----- Clearfix: Force an Element not to collapse -----*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

main {
    background-color: lightblue;
    font-family: 'Bebas Neue', cursive;
    margin: 0 auto;
    font-size: 1rem;
}

.contentweek5 {
    padding: 5px;
    margin: 5px;
    background-color: #fff;
    border-radius: 10px;
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}