        /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
        
        html {
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }
        /*----------- apply a natural box layout model to all elements --------------*/
        /*body {
    text-align: center;
    font-size: 14px;
    background-color: #f7f7ff;
    margin: 0.5rem;
    padding: 10px;
    flex: 0 1 100%;
}*/
        
        body {
            background-color: #f7f7ff;
            font-family: 'Bebas Neue', cursive;
            text-align: center;
            font-size: 14px;
        }
        
        main {
            background-color: #fff05a;
            margin: 0.5rem;
        }
        
        header,
        main,
        nav,
        footer {
            margin: 0 auto;
            max-width: 767px;
            padding: 2px;
        }
        
        header,
        footer {
            background-color: #38b6ff;
            border-radius: 2px;
            padding: 2px;
        }
        
        nav button {
            margin: .2rem 2%;
            background-color: transparent;
            border: none;
            font-size: 1.6rem;
            color: #fff;
        }
        
        nav {
            margin: 0 auto;
            max-width: 760px;
            background-color: #fec601;
            text-align: center;
        }
        
        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            overflow: hidden;
        }
        
        nav a:hover {
            background-color: #654f6f;
            color: #f1fffa;
        }
        
        nav ul li a {
            display: block;
            padding: 2px;
            margin: 2px;
            border-top: 1px solid #654f6f;
        }
        
        nav ul.hide {
            display: none;
        }
        /*----- Clearfix: Force an Element not to collapse -----*/
        
        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }
        
        main {
            background-color: #fff05a;
            font-family: 'Bebas Neue', cursive;
            margin: 0 auto;
            font-size: 1rem;
        }
        
        .contentweek5 {
            padding: 5px;
            margin: 5px;
            background-color: #fff;
            border-radius: 10px;
            display: block;
            border-top: 1px solid rgba(0, 0, 0, 0.3);
        }