        /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
        
        html {
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }
        
        body {
            background-color: #f7f7ff;
            font-family: 'Bebas Neue', cursive;
            text-align: center;
            font-size: 14px;
        }
        
        main,
        footer {
            margin: 0 auto;
            max-width: 767px;
            padding: 2px;
        }
        
        header,
        footer {
            background-color: #38b6ff;
            border-radius: 2px;
            padding: 2px;
        }
        
        nav {
            margin: 0 auto;
            max-width: 760px;
            background-color: #fec601;
        }
        
        .navigation {
            list-style: none;
            padding: 0;
        }
        
        .navigation li:first-child {
            display: block;
        }
        
        .navigation li {
            display: none;
        }
        
        .navigation a {
            display: block;
            padding: 0.75rem;
            text-align: center;
            text-decoration: none;
            color: #654f6f;
            font-weight: 500;
        }
        
        .navigation a:hover {
            color: #f1fffa;
            background-color: #654f6f;
        }
        
        .responsive li {
            display: block;
        }
        
        main {
            background-color: #fff05a;
            font-family: 'Bebas Neue', cursive;
            margin: 0 auto;
            font-size: 1rem;
        }
        
        .contentweek5 {
            padding: 5px;
            margin: 5px;
            background-color: #fff;
            border-radius: 5px;
            display: block;
            border-top: 1px solid rgba(0, 0, 0, 0.3);
        }