@media only screen and (min-width: 32.5em){
    h1 {
        font-size: 2.5rem;
       
    }   
    h3 {
        font-size: 1.5rem;
    }
    header, footer {
        border-radius: 10px;

}
 img {
    max-width: 25%;
    float: right;
    margin-right: 10px;
    min-width: 100px;
    margin-bottom: 10px;
    border-radius: 5px;

}
}