/* Desktop Views */

@media only screen and (min-width: 60em) {
    .headings h1 {
        font-size: 3rem;
    }
    .m {
        letter-spacing: 1.5pt;
        font-size: larger;
        margin-left: 17px;
    }
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
    .article {
        background-color: #fff05a;
        margin: 10px;
        width: 100%;
        height: 100%;
    }
    .border {
        position: relative;
    }
}