@import url('https://fonts.googleapis.com/css?family=Bebas+Neue%7cCrimson+Text&display=swap');

/**
        set all defaults to zero
*/

* {
    margin: 0;
}

* {
    padding: 0;
}

body {
    font-size: 14px;
    background-color: lightblue;
    margin: auto;
    padding: 5px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Sriracha', cursive;
    text-align: center;
}

footer {
    background-color: #f4e76e;
    padding: 5px;
    margin: auto;
    border-radius: 10px;
}

nav {
    background-color: #f4e76e;
    margin-top: 5px;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
    font-family: 'Sriracha', cursive;
    width: 100%;
    text-align: center;
    padding-bottom: 8px;
    padding-top: 3px;
    margin: 0;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
