@import url('https://fonts.googleapis.com/css?family=Bebas+Neue%7cCrimson+Text&display=swap');

/* phone and baseline views */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

header,
h1,
img,
footer {
    margin: 0;
    padding: 1px;
    margin: 0.5rem;
    padding: 10px;
    flex: 0 1 100%;
}

h1 {
    float: center;
}

nav {
    background-color: #f1fffa;
    text-align: center;
    border-radius: 10px;
}

nav a {
    display: block;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 1rem;
}

nav a:hover {
    background-color: #654f6f;
    color: #f1fffa;
    border-radius: 10px;
}

body {
    background-color: lightblue;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 14px;
}

main {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1rem;
}

section {
    background-color: #f4e76e;
    margin: 0.5rem;
    border: 5px solid #a29587;
    padding: 1rem;
    border-radius: 10px;
}

section,
h2,
h3 {
    font-family: 'Bebas Neue', cursive;
}

section,
p {
    font-family: 'Crimson Text', serif;
}