/* Desktop Views */

@media only screen and (min-width: 55em) {
    .headings h1 {
        font-size: 3rem;
    }
    .m {
        letter-spacing: 1.5pt;
        font-size: larger;
        margin-left: 17px;
    }
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    /*
    .navigation li:first-child {
        display: none;
    }*/
}

.norm:hover {
    box-shadow: 0 0 500px #fec601;
    margin: .3em;
}

main .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr 1fr 1fr));
}