  /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
  
  html {
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  }
  
  body {
      background-color: #f7f7ff;
      font-family: 'Bedas Neue', 'cursive';
      text-align: center;
      font-size: 14px;
  }
  
  #banner {
      padding: .8em;
      text-align: center;
      background: radial-gradient(#fec601, #fec601);
  }
  
  header {
      font-family: 'Crimson Text', 'serif';
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .headings {
      display: flex;
      flex-direction: column;
  }
  
  .headings h1 {
      font-size: 1.6rem;
      margin: 0 0 0 30px;
  }
  
  .m {
      font-family: 'Crimson Text', serif;
      letter-spacing: 1pt;
      margin-left: 20px;
      font-size: .9rem;
  }
  
  header,
  footer {
      background-color: #38b6ff;
      border-radius: 5px;
      padding: 5px;
      margin: 5px;
  }
  
  main,
  footer {
      margin: 0 auto;
      max-width: 900px;
      padding: 2px;
  }
  
  footer,
  a {
      color: black;
      font-family: 'Crimson Text', serif;
  }
  
  nav {
      margin: 0 auto;
      background-color: #fec601;
  }
  
  .navigation {
      list-style: none;
      padding: 0;
      max-width: 767px;
      margin: 0 auto;
  }
  
  .navigation li:first-child {
      display: block;
  }
  
  .navigation li {
      display: none;
  }
  
  .navigation a {
      display: block;
      padding: 0.75rem;
      text-align: center;
      text-decoration: none;
      color: #654f6f;
      font-weight: 600;
  }
  
  .navigation a:hover {
      color: #f1fffa;
      background-color: #654f6f;
  }
  
  .responsive li {
      display: block;
  }
  
  main {
      font-family: 'Bebas Neue', cursive;
      margin: 0 auto;
      font-size: 1rem;
  }
  /* this is css from code pen example */
  
  main .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  
  img {
      width: 200px;
      height: auto;
      margin: .5rem;
  }
  
  img[data-src] {
      filter: blur(0.2em);
  }
  
  img {
      filter: blur(0em);
      transition: filter 5s;
  }
  
  figcaption {
      font-size: smaller;
  }